name: Firestore Backup

on:
  schedule:
    - cron: "0 2 * * *" # Tous les jours 02:00 UTC

jobs:
  export:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}
      - uses: google-github-actions/setup-gcloud@v2
      - run: gcloud config set project ${{ secrets.FIREBASE_PROJECT_ID }}
      - run: gcloud firestore export gs://${{ secrets.FIREBASE_PROJECT_ID }}.appspot.com/backups
